ul {
    text-decoration: none;
    width:100%;
    text-align: center;
    margin-top:50px;
}
ul li{
    float: left;
    margin-left:2%;
    border:2px solid transparent;
}
ul li:hover{
    border:2px solid red;
}
ul li:nth-child(1){
    width:20%;
}
ul li:nth-child(2){
    width:20%;
}
ul li:nth-child(3){
    width:20%;
}
ul li:nth-child(4){
    width:20%;
}
ul li:nth-child(5){
    width:8%;
}
ul li input{
    width:70%;
}
ul li .web{
    width:60%;
    position: relative;
}
.layui-form-select dl { max-height:300px; }
ul li .web select{
    width:100%;
}

/*ul li .web i{*/
    /*position: absolute;*/
    /*top:0;*/
    /*right:20px;*/
    /*width:1px;*/
    /*height:100%;*/
    /*background-color: #000;*/
/*}*/










