﻿

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    background: #e7ebee;
    overflow-x: hidden;
    font-family: 'Microsoft YaHei','SimSun';
}
[v-cloak] {
 }
.layui-body {
    left: 0;
    overflow-y: hidden !important;
}
.layui-form-label {
    padding: 9px 5px;
     width: auto; 
}
.layui-input-inline input {
     margin-left: 0px; 
}
.layui-row > div {
    /*padding: 5px 5px;*/
    bottom: 30px;
    top: 0px;
}

.layui-row-padding-0 > div {
    padding: 1px 1px;
    bottom: 30px;
    top: 0px;
}

.layui-form-item .layui-input-inline {
    margin-right: 5px;
}

.layui-form-select dl {
    max-height:200px;
}




/****mybutton end****/

.content-main {
    margin: 0px;
    width: 100%;
    position: absolute;
    height:100%;
    top: 0;
    bottom: 0;
    right: 0;
}

.content-main-bock-left{
    width: 74%;
    margin-left:10px;
    margin-top:20px;
    margin-bottom: 20px;
    height:90%;
    border-radius: 3px;
    position: absolute;
    padding: 0px;
}
.content-main-bock-right{
    width: 22%;
    /*margin-left:1110px;*/
    margin-top:20px;
    margin-bottom: 20px;
    height: 90%;
    border-radius: 3px;
    position: absolute;
    padding: 0px;
    right:10px;
}

.layui-row .content-main-title {
    border-radius: 3px 3px 0px 0px;
    padding: 0px 10px;
}

.content-main-title {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7f7f7), color-stop(1, #e6e6e6));
    background: -moz-linear-gradient(top, #f7f7f7 5%, #e6e6e6 100%);
    background: -webkit-linear-gradient(top, #f7f7f7 5%, #e6e6e6 100%);
    background: -o-linear-gradient(top, #f7f7f7 5%, #e6e6e6 100%);
    background: -ms-linear-gradient(top, #f7f7f7 5%, #e6e6e6 100%);
    background: linear-gradient(to bottom, #f7f7f7 5%, #e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0);
    background-color: #f7f7f7;
    display: inline-block;
    display: inline-block;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    border: 1px solid #d9dade;
}

    .content-main-title .layui-btn {
        margin-left: 0px;
    }

    .content-main-title .content-main-title-right {
        right: 5px;
        position: absolute;
        bottom: 0px;
    }

.content-main-content {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0);
    /*background-color: #ffffff;*/
    /*background-color:yellow;*/
    display: inline-block;
    font-size: 14px;
    padding:0px;
    text-decoration: none;
    min-height: 300px;
    height: 100%;
    bottom: 10px;
}


.app-form-label {
    padding: 14px 3px;
}

.app-model {
    display: none;
    /*overflow: hidden;*/
}

.app-model-content {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0);
    background-color: #ffffff;
    display: inline-block;
    font-size: 14px;
    padding-top: 5px;
    text-decoration: none;
    height: 100%;
    position: absolute;
    overflow: hidden;
}


/****装修****/

.app-div-back {
    background: #EFF2F9;
}

.app-div-block {
    background: #FFFFFF;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.10);
    border-radius: 6px;
    min-height: 200px;
    border-bottom: 0px solid #F3F3F3;
    position: relative;
}

.app-div-block-title {
    background: #FFFFFF;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.10);
    border-radius: 6px;
    height: 40px;
    border-bottom: 0px solid #F3F3F3;
}

.app-block-btn-text {
    width: 100%;
    font-weight: bold;
    color: black;
    background: #72d9d6;
}
.app-block-div-text {
    width: 100%;
    font-weight: bold;
    color: black;
    background: #72d9d6;
}
.app-div-a {
    position: absolute;
    right: 2px;
}
    .app-block-btn-comments {
        width: 100%;
        height: 25px;
        line-height: 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        color: black;
        font-weight: bold;
    }
/****装修****/


.content-body-item{
    background-color: #F2F2F2;
    margin-top:14px;
    height:94px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 6px;
}

/*oppo项目样式*/

.head-list{
    padding-left:18px;
    padding-top:20px;
    width:100%;
    padding-right:20px;
    margin-right: 20px;
}


.head-list .btn1{
    border:none;
    background:#fff;
    color:#4c4c4c;
    font-size:18px;
    margin-top:10px;
}
.head-list .btn2{
    border:none;
    background:#fff;
    color:#999999;
    font-size:18px;
    margin-left:30px;
    margin-top:10px;
    /*margin-right:55px;*/
}
/*.layui-form select{*/
    /*right:20px;*/
/*}*/
.head-list input{
    /*display:inline-block;*/
    width:94px;
    border-radius: 16px!important;
    border: solid 1px #5FE2A4!important;
    color:#5FE2A4 !important;
    bottom: 10px;

}
.head-list .layui-select{
    width:94px;
    height: 34px;
    line-height: 34px ;
    font-size: 18px;
    color:#5FE2A4 !important;
    border: solid 1px #5FE2A4!important;
}
.head-list .layui-this{
    color:#5FE2A4 !important;
    background-color: #fff;
}

/*时间线的样式*/
.layui-icon {
    font-family: layui-icon !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.layui-text p{
    color:#5FE2A4;
    font-size:14px;
}

.layui-text span{
    color:#999999;
    font-size:14px;
}
.layui-timeline-item{
    padding-bottom: 70px;
}
.layui-timeline-item i{
    color:#e7ebee;
    font-size:20px;
}
.table_content{
    width:80%;
}

/*弹出层样式*/