/*公共部分开始*/
html,
body {
    /*height: 100%;*/
    width: 100%;
    font-size: 12px;
    /*background: #d9dade;*/
    /*overflow-y: scroll;*/
    /*overflow-x: scroll;*/
    /*overflow-x: hidden;*/
    font-family: 'Microsoft YaHei','SimSun';
}
.searchContent{
	float:left;
	margin-right: 50px;
    margin-top:10px;
}
.app-toptitle{
	position: absolute;
	height: 35px;
	background: #ffffff;
	line-height: 35px;
	font-size: 18px;
	padding-left: 0px;
	/*margin-bottom: 30px;*/
	margin-left:-139px;
	color:#999999;
}
.app-topcontent{
	margin: 0px;
	margin-bottom: 30px;
	/*border: 0px;*/
}
.app-topcontent-body{
	border: 0px;
}

.app-btn-all{
	/*display: inline-block;*/
	width: 100px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #2db7f5;
	color: #2db7f5;
	background: #ffffff;
	border-radius: 4px;
	/*text-align: center;*/
}
a.app-btn-all:hover{
	color: #0aa2e5 !important;
	border: 1px solid #0aa2e5;
}

.app-btn{
	color: #2db7f5;
	font-size: 12px;
}
a.app-btn:hover{
	color: #0aa2e5;
}

/*.app-pub{*/
	/*background: #FFFFFF;*/
	/*height: 180px;*/
	/*position: relative;*/
/*}*/
/*.app-left{*/
	/*float: left;*/
	/*width: 100px;*/
	/*position: absolute;*/
	/*top: 35px;*/
	/*left: 10px;*/
/*}*/
/*.app-left img{*/
	/*width: 100px;*/
/*}*/
/*.app-right{*/
	/*float: left;*/
	/*position: absolute;*/
	/*!*right:calc((65% - 95px) / 2);*!*/
    /*!*right: -moz-calc((65% - 95px) / 2);*!*/
	/*!*right: -webkit-calc((65% - 95px) / 2);*!*/
	/*width:calc(100% - 95px);*/
	/*!*text-align:center;*!*/
	/*height:80px;*/
	/*top:50px;*/
	/*right: 0px;*/
/*}*/
/*.app-right p{*/
	/*letter-spacing: 1px;*/
	/*height: 40px;*/
	/*width: 95px;*/
	/*margin: auto;*/
/*}*/
/*.app-wordt{*/
	/*font-size:22px;*/
	/*color: #8489a8;*/
/*}*/
/*.app-wordb{*/
   /*color: #999999;*/
	/*margin-top: -7px;*/

/*}*/


.app-left-two{
	float: left;
	width: 100px;
	position: absolute;
	top: 35px;
	left: 10px;
	padding-right:20px;
}
.app-left-two img{
	width: 116px;
	/*margin-right: 20px;*/
}
.app-right-two{
	float: left;
	position: absolute;
	/*right:calc((65% - 95px) / 2);*/
	/*right: -moz-calc((65% - 95px) / 2);*/
	/*right: -webkit-calc((65% - 95px) / 2);*/
	width:calc(100% - 95px);
	/*text-align:center;*/
	height:80px;
	top:50px;
	right: 0px;
}
/*.app-right-two p{*/
	/*letter-spacing: 1px;*/
	/*height: 40px;*/
	/*width: 180px;*/
	/*margin: auto 40px;*/
/*}*/
/*.app-wordf{*/
	/*font-size:23px;*/
	/*color: #8489a8;*/
/*}*/
/*.app-wordm{*/
	/*color: #999999;*/
	/*margin-top: -7px;*/
	/*font-size:20px;*/

/*}*/

/*.app-bot-suo input{*/
	/*height: 40px;*/
	/*line-height: 40px ;*/
	/*border: 1px solid #999999;*/
	/*border-radius: 10px;*/
	/*width: 180px;*/
	/*margin-left: 0px;*/
	/*!*margin-top: 30px;*!*/
/*}*/
/*.app-bot-suo label{*/
	/*display: inline-block;*/
	/*width: 80px;*/
/*}*/
.app-but{
	display: inline-block;
	width: 80px;
	height: 35px;
	line-height: 35px;
	color: #FFFFFF;
	background: #18ceb4;
	text-align: center;
	border-radius: 10px;
	margin-top: 2.5px;
}

.app-bot-w{
	width: 350px;
	margin-top: 30px;
}
.app-bot-suo span{
	/*margin-top: 30px;*/
}

.app-bot-main{
	padding-top:8px;
	padding-bottom: 10px;
}

.app-bot-main  .layui-table th{
	line-height: 40px!important;
	font-size:22px;
	color:#4d4949;
}
.app-bot-main  .layui-table td{
	line-height: 40px!important;
	font-size:20px;
}

.app-bot-main  .layui-table td span{
	background-color: #cccccc;
	color:#808080;
	padding:2px 6px;
}
.app-bot-main  .layui-table td button{
	background: #18ceb4;
	line-height: 36px;
	border:1px #fff;
	color:#fff;
	padding-left:15px;
	padding-right:15px;
	border-radius: 6px;
}

/*阴影的效果*/
.shadow{
	-webkit-box-shadow: #666 0px 0px 0.5px;
	-moz-box-shadow: #666 0px 0px 0.5px;
	box-shadow: #666 0px 0px 0.5px;
}

/*阴影加重*/
.app-pub:hover{
	-webkit-box-shadow: #666 0px 0px 5px;
	-moz-box-shadow: #666 0px 0px 5px;
	box-shadow: #666 0px 0px 5px;

}


.app-btn-new{
	/*position: absolute;*/
	width:90px;
	height: 34px;
	line-height: 24px !important;
	background: #fff;
	font-size: 18px;
	border-radius: 16px;
	/*margin-bottom: 25px;*/
	border: solid 1px #5FE2A4;
	color:#5FE2A4;
	/*padding-top: 0px;*/
	padding-bottom: 35px;
	margin-left:29px;
	margin-top:2px;
}
.app-btn-new i{
	font-size: 26px;
	/*display: inline-block;*/
	line-height: 34px;
	padding-right: 0px;
	margin-right:0px;
	color:#5FE2A4;
}

/*表格*/

.layui-table th{
	position: relative;
	height:50px;
	background-color: #fff;
	text-align: center;
	color:#666666;
	font-size:20px;
	width:14%;
}
.layui-table td{
	position: relative;
	height:50px;
	background-color: #fff;
	text-align: center;
	color:#999999;
	font-size:18px;
	width:18%;

	/*width:500px;*/
}
.bot-table tr{
	border-top: solid 2px #f5f5f5;
	border-bottom: solid 2px #f5f5f5;
}


/*mybutton*/

.app-but1{
	display: inline-block;
	width:80px;
	height: 30px;
	line-height: 30px;
	color: #5FE2A4;
	text-align: center;
	background: #FFFFFF;
	border-radius: 20px;
	margin-left:8px;
	border:solid 1px  #5FE2A4;

}

a:hover{
	background:#5FE2A4;
	color:#fff;
}

