.app-bot-self{
    padding-right:0px!important;
}
.bot-item-part{
    margin-top:10px;
}

.bot-item-one-w{
    margin-left:161px;
    font-size:16px;
    margin-top: -51px;
}
.bot-item-one-v{
    margin-left:10px;
    font-size:16px;
    margin-top: -52px;
}
.pot2{
    margin-left:744px;
    margin-top: -170px;

}

.bot-item-button button{
    background:#18ceb4;
    color:#fff;
    border:1px #F3F3F3;
    margin-top:5px;
    margin-bottom:4px;
    line-height: 34px;
    width:110px;
    border-radius: 6px;
    font-size:16px;
}

.bot-item-button2 button{
    background:#18ceb4;
    color:#fff;
    border:1px #F3F3F3;
    margin-top:28px;
    margin-bottom:4px;
    line-height: 34px;
    width:80px;
    border-radius: 6px;
    font-size:16px;
}

.bot-item-button2 .button2-one{
    margin-left:16px;
}

.bot-item-button2 .button2-two{
    margin-left:18px;
}

.bot-item-part3{
    /*border-left:2px solid #C1C1C1;*/
    margin-bottom: 0px;
    margin-top:0px;
    /*margin-left: 1050px;*/
}
.bot-item-part3 i{
    background:#C1C1C1;
    width:1px;
    height:158px;
    margin-top:-17px;
    margin-bottom: -20px;
}

.turnoff-icon{
    position:absolute;
    top:2px;
    right:2px;
    font-size:20px;

}
.home-img{
    /*margin-right:20px;*/
    margin-left:12px;
    margin-top:4px;
    margin-bottom:4px;

}
.bot-item h5{
    font-size:20px;
    margin-left:4px;
}
.bot-item h6{
    font-size:16px;
    margin-left:14px;
}
