﻿
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 14px;
    font-family: Microsoft YaHei;
    background-image: url(../img2/bg.png);
    background-size: 100% 100%;
    background-position: center;
    /*background-color: #1E9FFF;*/
    /*overflow: hidden;*/
}

.login-title {
    color: blue;
    font-size: 20px;
    font-weight: initial;
    background: none;
    border: none;
    display: inline-block;
}

.login {
    /*height: auto;
    width: auto; */
    height: 100%;
    width: 100%;

}

label {
    font-size: 12px;
    cursor: pointer;
    /*top: 10px;*/
    /*position: relative;*/
}

    label i {
        font-size: 10px;
        font-style: normal;
        display: inline-block;
        width: 12px;
        height: 12px;
        text-align: center;
        line-height: 10px;
        color:  #2489c5;
        /*vertical-align: middle;*/
        /*margin: -2px 2px 1px 0px;*/
        border: #2489c5 1px solid;
        border-radius: 6px;
    }

input[type="checkbox"], input[type="radio"] {
    display: none;
}

    input[type="radio"] + i {
        border-radius: 7px;
    }

    input[type="checkbox"]:checked + i, input[type="radio"]:checked + i {
        background: #2489c5;
        color: #ffffff;
    }

    input[type="checkbox"]:disabled + i, input[type="radio"]:disabled + i {
        border-color: #ccc;
    }

    input[type="checkbox"]:checked:disabled + i, input[type="radio"]:checked:disabled + i {
        /*background: #ccc;*/
    }

input {
    width: 220px;
    height: 30px;
    outline: none;
    color: #474242;
    border: none;
    font-weight: normal;
    font-size: smaller;
}



.login-header {
    height: 60px;
    width: auto;
    top: 0px;
    background-color: #fff;
    position: relative;
    /*box-shadow: inset 0px 0px 5px 1px #c3c5c1;*/
}

.login-header-logo {
    padding: 5px;
}

.login-header-logo {
    height: 50px;
    width: auto;
    margin-left: 5px;
    margin-top: 4px;
    background-color: #fff;
    border-right: 1px solid #dbd9d9;
    display: inline-block;
}

.login-header-logo-img {
    height: 50px;
}

.login-header-title {
    height: 50px;
    width: auto;
    margin-left: 25px;
    /*float:left;*/
    margin-top: 4px;
    background-color: #fff;
    position: absolute;
    display: inline-block;
    font-style: italic;
}

    .login-header-title span {
        text-align: center;
        margin-top: 5px;
        display: block;
        font-size: 28px;
        font-weight: 700;
    }

.login-header-roll {
    height: 60px;
    width: auto;
    margin-left: 240px;
    background-color: #fff;
    position: absolute;
    display: inline-block;
    font-style: italic;
}

.login-header-roll-containt {
    OVERFLOW: hidden;
    WIDTH: 330px;
    margin:15px;
    HEIGHT: 22px;
    line-height: 22px;
    display: inline-block;
    font-style: normal;
    font-size:20px;
}
#roll ul > li {
    list-style:none;
}
#roll ul li>a {
   text-decoration:none;

}

.login-content {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    /*background-image: url(../img2/89.jpg);
    background-size: cover;
    background-color: #39a6ec;*/

}

.login-button {
    margin-right: 100px;
}
/*.login-content-bg {
    width: 500px;
    height: 500px;
    position: relative;
    left:10%;
    float: left;
}
.login-content-bg img2{
    width:100%;
    height:100%;
}  */
.login-content-area {
    width: 25%;
    min-width: 300px;
    /*margin: auto;*/
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 20px;
    /*height: 400px;*/
    /*backgrund-color: white;*/
    /*position: relative;*/
    /*top: 10%;*/
    /*float: right;*/
    /*right: 10%;*/
    /*opacity: 0.8;*/
    border-radius: 6px;
}
.login-bigtitle{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}
.tab-foot {
    width: 300px;
    bottom: 0;
    height: 35px;
    position: absolute;
    background-color: blue;
    border-radius: 0px 0px 6px 6px;
    opacity: 0.8;
}

.login-content-area-tab {
    width: 250px;
    margin: auto;
    /*margin-left: 25px;*/
    /*margin-right: 25px;*/
    margin-bottom: 25px;
}
.one > span {
    font-size: 18px;
    font-weight: 600;
    color: #474242;
    display: inline-block;
    border: 1px solid #ced5d4;
    background-color: #fff;
    padding-right: 5px;
    padding-left: 5px;
}

.two > span {
    font-size: 18px;
    font-weight: 600;
    color: #474242;
    display: inline-block;
    border: 1px solid #ced5d4;
    background-color: #fff;
    padding-right: 5px;
    padding-left: 5px;
}

.login-content-area-span {
    font-size: 18px;
    /*font-weight: 600;*/
    /*color: #474242;*/
    display: inline-block;
    border: 1px solid #ced5d4;
    background-color: #fff;
    padding-right: 5px;
    padding-left: 5px;
}
.login-content-area-span i{
    display: inline-block;
    line-height: 35px;
    /*margin-top: 2px;*/
}
.velitlyimg {
    font-size: 18px;
    font-weight: 600;
    color: #474242;
    display: inline-block;
    padding-left: 5px;
    width: 110px;
    height: 30px;
    vertical-align: middle;
}

.login-content-header-logo {
    height: 100px;
    background-color: #c5b4b4;
}

.login-content-input-verify {
    width: 120px;
}


.login-footer {
    position: absolute;
    height: 30px;
    position: fixed;
    line-height:30px;
    text-align:center;
    width: 100%;
    bottom: 0px;
    background-color: #666fff;
}

   /*.login-footer > p {
        top: 15px;
        position: absolute;
        left: 40%;
        color: #474242;
        display: inline-block;
    } */ 

    .login-footer p > a {
        text-decoration: none;
       /* color: #474242;*/ 
       color:white;
    }

    /* .myButton {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background: -moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: -ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color: #33bdef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-size: 14px;
    padding: 5px 15px;
    text-decoration: none;
}


    .myButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
        background: -moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: -webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: -o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: -ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
        background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
        background-color: #019ad2;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }
*/

.myButtoncancel {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-size: 14px;
    padding: 5px 15px;
    text-decoration: none;
}

    .myButtoncancel:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
        background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
        background-color: #dfdfdf;
    }

    .myButtoncancel:active {
        position: relative;
        top: 1px;
    }

.login-button {
    margin-right: 10px;
    margin-left: 10px;
}

.login-content-area {
    position: absolute;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.active {
    transform: rotateY(180deg);
}

.one {
    backface-visibility: hidden;
    display: block;
    background-color: #ffffff;
}

.two {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: none;
}

.show {
    display: block;
}

.hiden {
    display: none;
}

.login-content-area-tab-name {
    color: #2489c5;
    font-size: 12px;
}
.login-content-area-title {
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    text-align: center;
    /*color: white;*/
    /*margin: 0;*/
    margin-bottom: 10px;
    /*padding-top: 20px;*/
    /*background-color: #3366cc;*/
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.login-content-area-span:hover {
    border-color: #3366cc;
}
.login-content-area-span input {
    border: none;
    height:31px;
    line-height:31px;
    width:210px;
}
.login-content-area-span input::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 12px;
    color: #000000;
}
.login-content-area-span input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
    color: #000000;
}
.login-content-area-span input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 12px;
    color: #000000;
}
.login-content-area-span input:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 12px;
    color: #000000;
}
.login-content-area-span {
    border-radius: 3px;
    border: 1px solid #cccccc;
}
.app-login {
    width: 100%;
    height: 30px;
    /*margin-top: 50px;*/
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 10px auto;
    background-color: #46c47b;
}

.login_bot{
    height: 30px;
    background-color: #F5F5F5;
}