
body{
    background-color: #ffffff;
}

.content-one ul li{

}
.content-one .form-one{
    background:#f2f2f2;
    margin-top:18px;
    margin-left:55px;
    border-radius: 6px;
    width:48%;
    height:40px;
    text-align: center;
    /*设置line-height的高度和div高度一致时，试文字垂直居中。*/
    line-height:40px;
    font-size: 19px;
}

.content-pot .pot .content-pot-input{
    border-radius: 6px;
    width:40px!important;
    height:30px;
    background-color: #fff!important;
    border:1px #000000;
    text-align: center;
}

.content-pot span{
    color:#808080;
    font-size:18px;
}


