@media screen and (max-width: 420px) {
    .bot-item-one .man-img {
        margin-left: 50px;

    }

    .man-two {
        margin-left: 10px;
    }

    .bot-item-one-w {
        margin-left: 4px;
        font-size: 16px;
        margin-top: 4px;
    }

    .bot-item-one-v {
        margin-left: 25px;
        font-size: 16px;
        margin-top: 3px;
    }

    .bot-item-button2 button {
        background: #18ceb4;
        color: #fff;
        border: 1px #F3F3F3;
        margin-top: 28px;
        margin-bottom: 4px;
        line-height: 34px;
        width: 76px;
        border-radius: 6px;
        font-size: 14px;
    }

    .bot-item-button2 .button2-one {
        margin-left: 0px;
    }

    .bot-item-button2 .button2-two {
        margin-left: 0px;
    }

    .home-img img {
        /*margin-right:20px;*/
        margin-left: 12px;
        margin-top: 2px;
        margin-bottom: 4px;

    }

    .home-img img {
        width: 80%;
        height: 80%;
    }

    .bot-item h5 {
        font-size: 17px;
        margin-left: -2px;
    }

    .bot-item h6 {
        font-size: 14px;
        margin-left: 4px;
    }

    .turnoff-icon {
        position: absolute;
        top: -162px;
        right: 8px;
        font-size: 20px;

    }

    .bot-item-part3 i {
        display: none;
        /*background:#C1C1C1;*/
        /*width:1px;*/
        /*height:174px;*/
        /*margin-top:-5px;*/
        /*margin-bottom: 1px;*/
    }

    /*oppo项目*/
    .app-toptitle{
        height: 35px;
        background: #ffffff;
        line-height: 35px;
        font-size: 14px;
        padding-left: 0px;
        /*margin-bottom: 30px;*/
        margin-left:4px;
        color:#999999;
    }
    .warn {
        display: inline-block;
        width: 320px;
        height: 45px;
        background-color: #f2f2f2;
        vertical-align: middle;
        margin-left: 40px;
        text-align: center;
    }

    .warn span {
        line-height: 45px;
        width: 420px;
        border: none;
        text-align: center;
        font-size: 13px;
    }

    .warn span a {
        display: inline-block;
        line-height: 45px;
        font-size: 13px;
        background-color: #f2f2f2;
        text-align: center;
        /*cursor:pointer;*/
    }
    .tongzhi{
        /*position: absolute;*/
        /*margin-top: 10px;*/
        margin-left:30px;
    }
}
