﻿body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Microsoft YaHei','SimSun';
}

/* 定义keyframe动画，命名为blink */

@keyframes header-blink{
  0%{opacity: 1;}
  50%{opacity: 1;}
  50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
  100%{opacity: 0;} 
}

/* 添加兼容性前缀 */

@-webkit-keyframes header-blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes header-blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes header-blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes header-blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

/* 定义blink类*/
.header-blink{
    animation: header-blink .75s linear infinite;  
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: header-blink .75s linear infinite;
    -moz-animation: header-blink .75s linear infinite;
    -ms-animation: header-blink .75s linear infinite;
    -o-animation: header-blink .75s linear infinite;
    color: #dd4814;
}
.layui-header {
    height: 65px;
}
.header-item-right {
    float: right;
}

.header-item-left {
    float: left;
}

.header-backcolor {
    background-color: #fff;
}

.header-logo .header-logo-img {
    width: 240px;
    height: 65px;
    margin: 0px;
    background-color: #fff;
    /*float: left;*/
}
.left-header-switch-button {
    width: 60px;
    height: 50px;
    float: left;
    background-color: #323436;
   /* border-right: 1px dashed #817474;*/ 
}

    .left-header-switch-button > a {
        margin: 10px 20px;
        position: absolute;
    }

.left-sidebar {
    background-color: #fff;
    float: left;
    position: fixed;
    top: 60px;
    bottom: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    bottom: 0;
    /*z-index: 999;*/
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 240px;
}

    .left-sidebar .active {
        left: -280px;
    }

.side-scroll {
    width: 280px;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.portal-user-information{
    width: 260px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.content {
    float: left;
    background: #d9dade;
    left: 260px;
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

    .content.active {
        left: 0px;
    }

.content-iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}
.layui-nav-item,.layui-nav-item a{
    height: 55px !important;
    line-height: 53px !important;

}
.layui-nav-tree{
    margin-top: 30px;
    padding-bottom: 60px;
}
.layui-nav-tree .layui-nav-item a > i {
    margin-right: 10px;
    color: #e8d8d8;
    font-size: 18px;
}

.left-sidebar .side-scroll .layui-nav .layui-nav-item a {
    padding-left:68px;
    font-size: 18px !important;
    letter-spacing:2px;
    border-top: 0.5px solid #f2f2f2;
    border-bottom: 0.5px solid #f2f2f2;
}
.left-sidebar .side-scroll .layui-nav .layui-nav-item a:hover{
    border-top:solid 1px #5FE2A4;
    border-bottom:solid 1px #5FE2A4;
}
dl.layui-nav-child dd a{
    padding-left: 90px !important;
}
.side-scroll .layui-nav-tree .layui-nav-more {
    right: 10px;
}

.side-scroll .layui-nav-tree {
    width: 260px;
}

/*必须放最后*/

.layui-footer {
    float: left;
    left: 150px;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

    .layui-footer.active {
        left: 0px;
    }

p {
    display: block;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.layui-footer p {
    text-align: center;
    color: #9AAAB7;
    line-height: 24px;
}

.layui-nav-itemed ,.layui-this{
    background: #f6f6f6 !important;

}
.layui-nav-item a,.layui-nav-itemed a{
    font-size: 16px !important;
    color: #666e8c !important;
    font-weight: normal !important;
    padding-left: 30px;
}
/*dd.layui-this{*/
    /*background: #2db7f5 !important;*/
/*}*/
/*.layui-this:after{*/
    /*background:  #2db7f5 !important;*/
/*}*/
.layui-nav-item a:hover{
    background-color: #f5f5f5 !important;
    color: #5FE2A4 !important;
}
/*.layui-this>a,a.layui-this>a:hover{*/
    /*background-color: #f5f5f5 !important;*/
    /*color: #5FE2A4 !important;*/
/*}*/

/*.layui-nav-bar{*/
     /*background-color: #f5f5f5 !important;*/
 /*}*/
.layui-nav-itemed>.layui-nav-child{
    background: #f5f5f5 !important;
}
.layui-nav-itemed>.layui-nav-child dd{
    border-bottom: 1px solid #f5f5f5 !important;
}
.layui-nav-item>.layui-nav-child a{
    font-size: 14px !important;
}
.layui-nav-child a:hover{
    background-color: #066995 !important;
    /*color: #000000 !important;*/
    /*font-weight: bold !important;*/
}
.layui-nav-tree{
    margin-top:-34px;
}
.portal-user-img{
    text-align: center;
}
.portal-user-img img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-left:44px;
}
/*p{*/
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
/*}*/
.portal-user-welcome{
    text-align: center;
    color:#4c4c4c;
    margin-bottom: 0px;
    float: left;
    height: 32px;
    padding-top: 4px;
    margin-left: 95px;
    font-size: 18px;
}
/*.portal-user-welcome div{*/
    /*text-align: left;*/
    /*height: 40px;*/

/*}*/
/*.portal-user-welcome div.role{*/
    /*color: #FFFFFF;*/
    /*line-height: 40px;*/
/*}*/
/*.experience{*/
    /*font-size: 14px;*/
    /*line-height: 38px;*/
/*}*/
/*.portal-time{*/
    /*color: #00638d;*/
    /*font-size: 14px;*/
    /*text-align: center;*/
    /*!*margin-top: 0px;*!*/
/*}*/

.position-id span{
    color:#4c4c4c;
    font-size:12px;
    font-weight:normal;
    margin-left:90px;
    /*margin-top:10px;*/
}
.portal-position{
    /*text-align: center;*/
    padding-bottom: 30px;
    margin-top: 6px;
}
.portal-position p{
    text-align: center;
    width:100px;
    line-height:30px;
    border:solid 1px #5FE2A4;
    border-radius: 20px;
    color:#5FE2A4;
    font-size:16px;
    font-weight:normal;
    margin-left:69px;
}
.portal-position a{
    display: inline-block;
    width: 100px;
    border: 1px solid #ffffff;
    color: #666e8c !important;
     height: 30px;
    line-height: 30px;
    border-radius: 5px;
}
.tongzhi{
    position: absolute;
    /*margin-top: 10px;*/
    margin-left:370px;
}
.tongzhi i{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    color: #999999;


}
.tongzhi-but{
    width: 95px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #ff2c2c;
    display: inline-block;
}
.tongzhi-dot{
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 10px;
    background-color: #e83d2b;
    position: absolute;
    top: 7px;
    right: -2px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
}
/*.tongzhi-content{*/
    /*padding: 0px;*/
    /*!*margin-top: 0px !important;*!*/
/*}*/

.welcome{
    /*text-align: right;*/
    position:absolute;
    display: inline-block;
    margin-left:400px;
}
.welcome span{

    height: 45px;
    line-height: 45px;
    margin-left:-3px;
}

.add{
    height:55px !important;
    top: 0px;
    background: #FFFFFF
}
.layui-this{
  border-left: 2px solid #18ceb4 !important;
}
/*.handle{*/
    /*width: 260px;*/
    /*display: flex;*/
    /*justify-content:space-around;*/
    /*margin-top: 35px;*/
    /*margin-bottom: 30px;*/
/*}*/
/*.handle a i{*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*color: #FFFFFF;*/
    /*font-size: 24px;*/
/*}*/
.bot-but{
    text-align: center;
    margin-top:100px;
    width: 260px;
}
.bot-but a{
    display: block;
    width: 150px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius:5px;
    background-color: #666e8c;
    color: #dddee0;
    margin: auto;
    letter-spacing: 3px;
    font-size: 18px;
    margin-bottom: 30px;

}
.warn{
    position: absolute;
    display: inline-block;
    width: 330px;
    height: 45px;
    background-color: #f2f2f2;
    vertical-align: middle;
    margin-left:30px;
    text-align: center;
}
.warn span{
    line-height:45px;
    width:100%;
    border: none;
    text-align: center;
    font-size: 16px;
}
.warn span a{
    display: inline-block;
    line-height: 45px;
    font-size: 16px;
    background-color: #f2f2f2;
    text-align: center;
    /*cursor:pointer;*/
}


.icon-right{
    margin-left:8px;
    color:#999999;
}