﻿.layui-table thead tr {
    background-color: #F0FFFF;
}
.layui-table td, .layui-table th, .layui-table-fixed-r, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-view, .layui-table[lay-skin=row], .layui-table[lay-skin=line] {
    border-color: #8E8E8E;
   
}

element.style {
    background-color: transparent;
}