﻿.table-select-icon {
    position: absolute;
    right: 10px;
    line-height: 34px;
    color: #d3d3d3;
}

.table-select-selected dl {
    display: block;
}

.table-select dl {
    position: absolute;
    left: 0;
    padding: 5px 0;
    z-index: 999;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.12);
    box-sizing: border-box;
}

    .table-select dl dd {
        cursor: pointer;
    }

    .table-select dl dd, .table-select dl dt {
        padding: 0 10px;
        line-height: 36px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .table-select dl dd.layui-this {
            background-color: #5FB878;
            color: #fff;
        }

    .table-select dl dd, .table-select dl dt {
        padding: 0 10px;
        line-height: 36px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .table-select dl dd:hover {
            background-color: #f2f2f2;
        }
