﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../../dist/css/layui.css" rel="stylesheet" media="all" />
    <link href="../../css/css.css" rel="stylesheet" media="all" />
    <link href="../../css/app.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <link href="../../css/formSelects-v4.css" rel="stylesheet" />
    <link href="../../css/portal.css" rel="stylesheet" />
</head>
<body>
<div id="app" class="content-main ">
    <div class="content-main-bock ">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md4" >
                <div style="height: 130px;">
               <div class="layui-col-md6 ">
                   <div  class="panel-show" style="margin-right: 10px;" >
                       <div class="panel-icont"><img src="../../img2/all.png"></div>
                       <div class="panel-word">
                           <div class="panel-number"><span>:</span> <span class="num">{{taskStatus.sum}}</span></div>
                       </div>
                   </div>
               </div>
                <div class="layui-col-md6">
                    <div  class="panel-show">
                        <div class="panel-icont"><img src="../../img2/unfinished.png"></div>
                        <div class="panel-word">
                            <div class="panel-number"><span>已完成:</span> <span class="num">{{taskStatus.finished}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6" >
                    <div  class="panel-show" style="margin-right: 10px;">
                        <div class="panel-icont"><img src="../../img2/unbegin.png"></div>
                        <div class="panel-word">
                            <div class="panel-number"><span>未开始:</span> <span class="num">{{taskStatus.have_not_begum}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div  class="panel-show">
                        <div class="panel-icont"><img src="../../img2/doing.png"></div>
                        <div class="panel-word">
                            <div class="panel-number"><span>进行中:</span> <span class="num">{{taskStatus.acting}}</span></div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="pie">
                    <div class="pie-title"><img src="../../img2/fenbu.png" class="img-funbu"/>任务状态分布图</div>
                    <div id="task-pie"  class="pie-pic" >
                    </div>
                </div>
                <div class="pie">
                    <!--<div>急单按时完成率分布饼图</div>-->
                    <div class="pie-title"><img src="../../img2/fenbu.png" class="img-funbu"/>急单按时完成率图</div>
                    <div id="Emergency-pie" class="pie-pic" >
                    </div>
                </div>
                <!--<div style="background: #FFFFFF;margin-top: 10px;">-->
                    <!--<p>当天任务分类统计</p>-->
                    <!--<table class="layui-table" style="width: 100%;overflow-y:auto;margin-top: 0px" >-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>类型</th>-->
                            <!--<th>数量</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody v-for="(item, index) in taskSum">-->
                        <!--<tr>-->
                            <!--<td>{{item.descr}}</td>-->
                            <!--<td>{{item.qty}}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            </div>
            <div class="layui-col-md4" style="">
                <!--<marquee loop="infinite" behavior="scroll" direction="down">-->
                <div style="" class="mid" >
                 <!--<div class="layui-col-md6" style="background: #F5F5F5;height: 440px;overflow-y: auto;">-->
                     <div class="pie-title"><img src="../../img2/unftask.png" class="img-funbu"/>未完成任务</div>
                    <div style="height: 755px;overflow-y: auto">
                     <div v-for="(item, index) in orderdatalist" style="margin: 15px 15px 0px 15px;border: 1px solid #EEEEEE;border-radius: 4px;">
                         <p class="mid-number"><img src="../../img2/transfernumber.png">运输单号：{{item.orderNo}}</p>
                         <div class="mid-address">{{item.originName}}<img src="../../img2/jiantou.png">{{item.targetName}}</div>
                         <div class="mid-bot"><span>类型：{{item.taskTpDescr}}</span><span>运送员：{{item.assigeToName}}</span><span>状态：{{item.status==1?"未开始":"进行中"}}</span></div>
                     </div>
                    </div>
                     <!--<div v-for="(item, index) in orderdatalist" style="margin-bottom: 10px;font-size: 14px;background: #FFFFFF;color: #666666">-->
                                 <!--<p  style="display: flex;justify-content:space-around;font-weight: bold">-->
                                     <!--<span class="task-send"><span style="color: #000000;font-weight: bold">起点：</span>{{item.originName}}</span>-->
                                     <!--<span class="task-send"><span style="color: #000000;font-weight: bold">终点：</span>{{item.targetName}}</span>-->
                                     <!--<span class="task-send"><span style="color: #000000;font-weight: bold">状态：</span>{{item.status==1?"未开始":"进行中"}}</span>-->
                                 <!--</p>-->
                                 <!--<p style="display: flex;justify-content:space-around;">-->
                                     <!--<span class="task-send">类型：{{item.taskTpDescr}}</span><span class="task-send">运送员：{{item.assigeToName}}</span>-->
                                 <!--</p>-->
                     <!--</div>-->
                </div>
                <!--</marquee>-->
            </div>
                 <!--</div>-->
                <!--<div class="layui-col-md6" style="background: #FFFFFF;height: 440px">-->
            <div class="layui-col-md4" style="">
                     <div style="margin-top: 0px;margin-bottom: 10px;"  class="pie">
                         <div class="pie-title"><img src="../../img2/fenbu.png" class="img-funbu"/>任务类型数量柱状图</div>
                         <div style="height: 340px" id="task_number">
                         </div>
                     </div>
                <div style=""  class="pie">
                        <!--<div></div>-->
                        <div class="pie-title"><img src="../../img2/fenbu.png" class="img-funbu"/>效率分布图</div>
                        <div style="height: 340px" id="dailyEfficiency">
                        </div>
                    </div>
                <!--</div>-->
             </div>
        </div>
               <!--<div style="height: 270px;margin-top: 30px;background: #FFFFFF;padding-top: 20px" id="fiveDay">-->
               <!--</div>-->
            <!--<div class="layui-col-md4">-->

        <!--</div>-->
    </div>
</div>
    <script src="../../dist/layui.js"></script>
    <script src="../../dist/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../pagejs/panel.js"></script>
    <script src="../../pagejs/html5.js"></script>
</body>
</html>