﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../../dist/css/layui.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <link href="../../css/app.css" rel="stylesheet" />
    <link href="../../css/css.css" rel="stylesheet">
    <link href="../../css/portal.css" rel="stylesheet" />
    <style>
        .height20 {
            color: #F00;
        }
    </style>
</head>
<body class="layui-body">
    <div id="app" class="layui-layout layui-layout-admin">
        <header>
            <div class="layui-col-xs12 layui-header header-backcolor layui-header-text" style="background-color:#fff;position: fixed;">
                <div class="header-logo">
                    <div class="header-logo-img"><img style="width:100%;height:100%;" src="../../img/logo.png"/></div>
                    <div class="header-content" style="position: absolute;left:400px;right:10px;width:1200px;top: 10px">
                        <span class="app-toptitle">当前位置:<a style="color:#999999">入库单</a></span>
                        <div class="layui-inline warn">
                            <span>警告：&nbsp;当前<a style="color:#5FE2A4;">XXX物料</a>库存不足！请及时补充！</span>
                        </div>
                        <div class="layui-inline tongzhi"><span class="tongzhi-dot">{{wsdata.count}}</span><i class="iconfont icon-tongzhi1"></i></div>
                        <span class="welcome">
                            <span style="padding-left: 20px;color:#999999;">欢迎您</span>
                            <span style="color:#5FE2A4;">廖俊雄!</span>
                        </span>
                        <div style="position: absolute;margin-left:516px;margin-top:10px;" class="layui-inline">
                            <i style="font-size:18px;" class="iconfont icon-shezhi icon-right"></i>
                            <i style="font-size:18px;" class="iconfont icon-yiwen icon-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="left-sidebar" style="position: fixed;">
            <div class="side-scroll" style="">
                <div class="portal-user-information" style="width: 200px;">
                    <a v-on:click="modifyuserinfo">
                        <div class="portal-user-img">
                            <img v-bind:src="imgurl" />
                        </div>
                    </a>
                    <p class="portal-user-welcome">
                        <span class="portal-user-name">{{username}}</span>
                    </p>
                    <div class="position-id">
                        <span>工号：4312</span>
                    </div>
                    <div class="portal-position">
                        <p class="icon-position">业务员</p>
                    </div>
                </div>
                <ul id="MenuList" class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="position: relative;background-color:#fff">
                    <li class="layui-nav-item" v-for="first in menuobj.menu">
                        <a href="javascript:;"><i class="iconfont first.icon"></i>{{first.auth_name}}<span class="layui-nav-more"></span></a>
                        <!--<dl class="layui-nav-child" v-for="second in first.childMenus">-->
                            <!--<dd><a target="content-iframe" :href="second.url">{{ second.auth_name }}</a></dd>-->
                        <!--</dl>-->
                    </li>
                </ul>
            </div>
        </div>











        <div class="content">
            <div id="renwu" style="display: none;overflow-y: auto">
                <div class="layui-card">
                    <div class="layui-card-body renwu-content">
                        <table class="layui-table" style="margin-top: 0px" lay-skin="nob">
                            <thead>
                                <tr style="background: #ffffff;border-bottom: 1px solid #f5f5f5">
                                    <th>序号</th>
                                    <th>医院</th>
                                    <th>发布人</th>
                                    <th>时间</th>
                                    <th>调度</th>
                                </tr>
                            </thead>
                            <tbody v-for="(item, index) in wsdata.order">
                                <tr>
                                    <td>{{index}}</td>
                                    <td>{{item.hospitalName}}</td>
                                    <td>{{item.createBy}}</td>
                                    <td>{{item.createTime}}</td>
                                    <td><button v-on:click="assign(item)" class="layui-btn app-btn-search">详情</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <iframe name="content-iframe" class="content-iframe" src="" id="framea"></iframe>
            <!--<iframe name="content-iframe" class="content-iframe" src="../Login/panel.html" id="framea"></iframe>-->
            <!--<iframe name="content-iframe" class="content-iframe" src="../UserManage/ST001.html" id="framea"></iframe>-->
        </div>


        <div id="editview" class="app-model" style="">
            <div class="layui-col-xs12 layui-col-md12 app-model-content">
                <div class="layui-form" id="operatemform">
                    <div class="layui-form-item" style="margin-left:100px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户名:</label>
                            <div class="layui-input-inline">
                                <input id="txtUserName" name="UserName" autocomplete="off" lay-verify="required" size="6" class="layui-input " type="tel" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin-left:85px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">原始密码:</label>
                            <div class="layui-input-inline">
                                <input id="txtOrgPassword" name="UserName" autocomplete="off" lay-verify="required" size="6" class="layui-input " type="password" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin-left:100px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">新密码:</label>
                            <div class="layui-input-inline">
                                <input id="txtPassword" name="UserName" autocomplete="off" lay-verify="required" size="6" class="layui-input " type="password" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin-left:85px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">重输密码:</label>
                            <div class="layui-input-inline">
                                <input id="txtAgainPassword" name="UserName" autocomplete="off" lay-verify="required" size="6" class="layui-input " type="password" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-md12 app-model-foot">
                        <div class="app-model-foot-right operate">
                            <button data-method="sure" class="layui-btn app-btn-confirm layui-btn-sm modifypass">&nbsp;确定</button>
                            <button class="layui-btn app-btn-cancel layui-btn-sm modifypass">&nbsp;取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../dist/layui.js"></script>
    <script src="../../dist/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../pagejs/portal.js"></script>
</body>
</html>
