﻿<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>任务类型订单量统计</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../../dist/css/layui.css" rel="stylesheet" media="all" />
    <link href="../../css/css.css" rel="stylesheet" media="all" />
    <link href="../../css/app.css" rel="stylesheet" />
    <link href="../../iconfont/iconfont.css" rel="stylesheet" />
    <link href="../../css/formSelects-v4.css" rel="stylesheet" />
</head>
<body>
<div id="app" class="content-main ">
    <div class="content-main-bock " style="margin-top: 20px;position: relative">
        <div class="layui-row layui-col-space10">
            <p class="title">当前位置:<a style="">系统管理</a><a style="color: #666666"> >发布</a></p>
            <div class="layui-col-md4 layui-col-sm3 " style="" >
                <div style="padding: 2.5%;background: #ffffff;height: 700px;" class="addresall">
                <div  class="send-title">
                    <!--<label>起点：</label>-->
                    <!--<div class="layui-inline">-->
                        <!--<span>{{begin}}</span>-->
                        <!--&lt;!&ndash;<input  type="text" />&ndash;&gt;-->
                    <!--</div>-->
                    <a v-for="(item, index) in address" :class="{active:index==current4}" v-on:click="change(item,index)"><i v-bind:class="[{act:index==current4},item.iconfont]"></i>{{item.addre}}</a>
                </div>
                <div class="sed-address">
                    {{oneArea}}<img  src="../../img2/jiantou.png"/>{{twoArea}}
                </div>

                <div class="send-but1">
                    <p class="change-address">{{changeaddress}}</p>
                    <div class="search"><input placeholder="关键字搜索科室"><span><i class="iconfont icon-sousuo"></i></span></div>
                    <div v-show="current4==0">
                    <a class="but1" v-for="(item, index) in depmanagelist" v-on:click="beginArea(item,index)" v-bind:class="{ begin:index==current1}">{{item.deptName}}<img src="../../img2/Group%204.png" v-show="index==current1" class="img"></a>
                    </div>
                    <div v-show="current4==1">
                    <a class="but1" v-for="(item, index) in depmanagelist" v-on:click="endArea(item,index)" v-bind:class="{ begin:index==current5}">{{item.deptName}}<img src="../../img2/Group%204.png" v-show="index==current5" class="img"></a>
                    </div>
                        <!--<a class="but1">科室二</a>-->
                    <!--<a class="but1">科室三</a>-->
                </div>
                </div>
                <!--<a></a>-->
            </div>

            <div class="layui-col-md4 layui-col-sm3" style="">
              <div style="background: #ffffff;height: 700px">
                <div class="send-title1">
                    <span class="left"><i class="iconfont icon-sousuo1"></i>运输类型</span>
                    <div class="search1"><input placeholder="输入编码"><span><i class="iconfont icon-sousuo"></i></span></div>
                    <!--<label>任务类型：</label>-->
                </div>
                <div class="send-but3">
                    <!--<a class="but4" v-for="(item, index) in worktype" v-on:click="sendtype(item,index)" v-bind:class="{ptype:status[index]}">{{item.descr}}</a>-->
                    <div style="width: 30%;float: left">
                         <a class="but3" v-for="(item, index) in tstype" v-on:click="chance(item,index)" v-bind:class="{ tasktype:index==current}">{{item.descr}}</a>
                    </div>
                    <div style="width: 70%;float: right;text-align: center;margin-top: 30px;">
                        <a class="but4" v-for="(item,index) in worktype" v-on:click="sendtype(item,index)" v-bind:class="{ptype:status[index]}">
                            {{item.descr}}
                            <img src="../../img2/Group%204.png" v-show="status[index]" class="img">
                        </a>
                    </div>
                    <!--<a class="but3">手术</a>-->
                    <!--status[index]-->
                    <!--<a class="but3">标本</a>-->
                    <!--<a class="but3">物品</a>-->
                </div>
              </div>
            </div>
            <div class="layui-col-md4 layui-col-sm12" >
                <div style="background: #ffffff;height: 700px">
                    <div class="send-title1">
                        <span class="left"><i class="iconfont icon-yunsong"></i>运送员</span>
                        <div class="search1"><input placeholder="工号或名字首字母"><span><i class="iconfont icon-sousuo"></i></span></div>
                    </div>
                    <div style="margin-top: 10px;height: 300px;overflow-y: auto">
                        <a class="but1" v-for="(item, index) in assigeuserlist" v-bind:class="{ begin:index==current2}" v-on:click="beginArea1(item,index)" ><span>{{item.userName}}--</span><span>{{item.actingTask===0?"空闲":"运送中"}}({{item.actingTask}})</span><img src="../../img2/Group%204.png" class="img" v-show="index==current2"></a>
                    </div>
                    <div class="tool">
                        <label>选择运输工具</label>
                        <div class="layui-input-block main-creat" style="width: 90%;margin-top: 20px;">
                        <select id="toolId" name="root01" lay-verify="required" xm-select="toolId" xm-select-skin="normal"></select>
                        </div>
                    </div>
                    <div class="emergy" style="margin-top: 15px;">
                        <label>是否急单</label>
                        <div style="margin-top: 15px">
                            <a v-for="(item, index) in check" v-on:click="checking(item,index)"><span class="circle"><img src="../../img2/Group%204.png" v-show="index==current3"></span>{{item.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>
                <!--<div style="background: #ffffff;">-->
                <!--<div class="send-title">-->
                    <!--<label>运送员：</label>-->
                    <!--<div class="layui-inline">-->
                        <!--<span>{{assigeuser}}</span>-->
                        <!--&lt;!&ndash;<input  type="text" />&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="layui-card" >&ndash;&gt;-->
                <!--<div style="height: 500px;overflow-y: auto">-->
                <!--<div class="layui-card-body" style="height: 200px;overflow-y: auto;">-->
                    <!--<table class="layui-table">-->
                        <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>运送员</th>-->
                                <!--<th>任务数</th>-->
                                <!--<th>状态</th>-->
                                <!--<th>操作</th>-->
                            <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody v-for="(item, index) in assigeuserlist">-->
                            <!--<tr>-->
                                <!--<td>{{item.userName}}</td>-->
                                <!--<td>{{item.actingTask}}</td>-->
                                <!--<td>{{item.actingTask===0?"空闲":"运送中"}}</td>-->
                                <!--<td><a v-on:click="setassign(item)" class="layui-btn but-chance">选择</a></td>-->
                            <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                <!--</div>-->
                <!--<div class="layui-card-body layui-form" style="border-top: 15px solid #f5f5f5;">-->
                    <!--<div class="layui-form-item root" style="margin-top: 0px;margin-bottom: 0px;width: 100%;">-->
                        <!--<label>工具</label>-->
                        <!--<div class="layui-input-block main-creat">-->
                            <!--<select id="toolId" name="root01" lay-verify="required" xm-select="toolId" xm-select-skin="normal"></select>-->
                        <!--</div>-->
                        <!--<input type="checkbox" lay-filter="priority" name="" title="加急" >-->
                    <!--</div>-->

                    <!--<div class="layui-form-item" style="margin-top: 0px">-->
                        <!--<label>备注:</label>-->
                        <!--<textarea name="" v-model="remark" class="layui-textarea" style="width: 300px;"></textarea>-->
                    <!--</div>-->
                    <!--<div style="text-align: right;margin-top: 10px;margin-bottom: 10px;">-->
                        <!--<a v-on:click="saveneworder" class="main-creat-btn main-creat-submit">发布</a>-->
                        <!--<a class="main-creat-btn main-creat-check">取消</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                </div>
                <!--</div>-->
            </div>
            <div class="layui-row">
                <div class="layui-col-md12 layui-col-sm3 send-bot">
                    <a class="butbottom save" v-on:click="saveneworder()">保存</a>
                    <a class="butbottom cancel">取消</a>
                    <a class="butbottom savedraft">保存草稿</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="../../dist/layui.js"></script>
    <script src="../../dist/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../../pagejs/ST001.js"></script>
    <!--<script src="../../pagejs/NS001.js"></script>-->
</body>
</html>